<div class="accordeonPanel">
    <div class="accordion">
        <div class="accordionName">Before</div>
        <div class="accordionIcon material-icons">arrow_drop_down</div>
    </div>
    <div class="panel" data-hide="hide">
        <div class="equalSign">=</div>
        <div class="formulaText before"></div>
    </div>

    <div class="accordion">
        <div class="accordionName">{{name}}</div>
        <div class="accordionIcon material-icons">arrow_drop_down</div>
    </div>
    <div class="panel" data-hide="hide">
        <div class="itemPanel"></div>
    </div>

    <div class="accordion">
        <div class="accordionName">After</div>
        <div class="accordionIcon material-icons">arrow_drop_down</div>
    </div>
    <div class="panel" data-hide="hide">
        <div class="equalSign">=</div>
        <div class="formulaText after"></div>
    </div>
</div>  