<div class="areYouSureHtmlContainer">
    <div class="areYouSureFormContainer">
        <div class="areYouSureContainer">
            <div class="areYouSureHtmName">¿Está seguro?</div>
        </div>
        <div class="areYouSureButtons">
            <div class="areYouSureCancelButton">Cancel</div>
            <div class="areYouSureOKButton">OK</div>
        </div>
    </div>
</div>