<div class="itemHtml">
    <div class="itemName">{{name}}</div>
    <textarea class="itemValue" data-name="{{name}}">{{value}}</textarea>
</div>
<div class="itemRemoveButton" data-name="{{name}}">-</div>