<div class="nameHtmlContainer">
    <div class="nameFormContainer">
        <div class="nameContainer">
            <div class="nameHtmlName">Name:</div>
            <input class="nameHtmlValue" type="text" autofocus>
        </div>
        <div class="nameOKButton">OK</div>
    </div>
</div>